<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=shift_jis">
<style type="text/css">
    table  {
         border-collapse:collapse;
    }
	thead th {
	    font-weight: bold;
	    vertical-align: top;
	    color: #fff;
	    background: #2E8B57;
    	border-style: solid;
        border-width:thin;
  	    border-color:black
	}
    tr.raceInfo {
    	border-style: solid;
        border-width:thin
    }
    td.raceInfo {
	    padding: 3px; 
    	border-style: solid;
        border-width:thin
    }
</style>
</head>
<body>
<table>
<tr>
<td valing="top" >
	<table>
	<tr><td valign="top">
		<table>
		<tr><td valing="top" colspan="3" style="color:#2E8B57"><b><%= @kaisaiName1 %></b></td></tr>
		<tr>
		<% kIdx = 0 %>
		<% @kaisais1.each do |kaisai| %>
		<td valign="top">
			<table>
			<thead>
				<tr><th colspan="4"><%= @raceNames1[kIdx] %></th></tr>
				<tr><th>#</th><th>馬名</th><th>評価</th><th>着</th></tr>
			</thead>
			<% idx = 1 %>
			<% kaisai.each do |race| %>
				<tr class="raceInfo">
					
				<td rowspan="<%= race.ratedHorse.length + 1 %>" class="raceInfo">
					
				<a href="../race_analysis/show?raceName=<%= @raceNames1[kIdx] %>&raceId=<%= idx %>"><%= idx %>R</a></td>
		
					<% race.ratedHorse.each do |horse| %>
						<tr>
						<td class="raceInfo"><%= horse.bamei %></td>
						<td class="raceInfo"><%= horse.rating %></td>
						<td class="raceInfo"><%= horse.result %></td>
						</tr>
					<% end %>
			
					<% if race.ratedHorse.length == 0 then %>
						<td class="raceInfo"></td>
						<td class="raceInfo"></td>
						<td class="raceInfo"></td>
					<% end %>
					
				</tr>
				<% idx += 1 %>
			<% end %>
			</table>
		</td>
			<% kIdx += 1 %>
		<% end %>
		</tr>
		</table>
	</td>
	</tr>
	<tr>
	<td>　</td>
	</tr>
	<tr>
	<td>
		<table>
		<thead>
			<tr><th>推奨度</th><th>頭数</th><th>勝率</th><th>複勝率</th></tr>
		</thead>
		<tr>
			<td class="raceInfo">A</td>	
			<td class="raceInfo"><%= @ratedACount1 %></td>
			<td class="raceInfo">
				<% if @ratedAWinCount1 == 0 then %>
				0
				<% else %>
					<%= ((@ratedAWinCount1.to_f/@ratedACount1) * 100).round(1) %>
				<% end %>
			％</td>
			<td class="raceInfo">
				<% if @ratedAFukuCount1 == 0 then %>
				0
				<% else %>
					<%= ((@ratedAFukuCount1.to_f/@ratedACount1) * 100).round(1) %>
				<% end %>
			％</td>
		</tr>
		<tr>
			<td class="raceInfo">A/B</td>
			<td class="raceInfo"><%= @ratedBCount1 %></td>
			<td class="raceInfo">
				<% if @ratedBWinCount1 == 0 then %>
				0
				<% else %>
					<%= ((@ratedBWinCount1.to_f/@ratedBCount1) * 100).round(1) %>
				<% end %>
			％</td>
			<td class="raceInfo">
				<% if @ratedBFukuCount1 == 0 then %>
				0
				<% else %>
					<%= ((@ratedBFukuCount1.to_f/@ratedBCount1) * 100).round(1) %>
				<% end %>
			％</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
</td>
<td width="50px"></td>
<td valign="top">
	<table>
	<tr><td valign="top">
		<table>
		<tr><td valing="top" colspan="3" style="color:#2E8B57"><b><%= @kaisaiName2 %></b></td></tr>
		<tr>
		<% kIdx = 0 %>
		<% @kaisais2.each do |kaisai| %>
		<td valign="top">
			<table>
			<thead>
				<tr><th colspan="4"><%= @raceNames2[kIdx] %></th></tr>
				<tr><th>#</th><th>馬名</th><th>評価</th><th>着</th></tr>
			</thead>
			<% idx = 1 %>
			<% kaisai.each do |race| %>
				<tr class="raceInfo">
					
				<td rowspan="<%= race.ratedHorse.length + 1 %>" class="raceInfo">
					
				<a href="../race_analysis/show?raceName=<%= @raceNames2[kIdx] %>&raceId=<%= idx %>"><%= idx %>R</a></td>
		
					<% race.ratedHorse.each do |horse| %>
						<tr>
						<td class="raceInfo"><%= horse.bamei %></td>
						<td class="raceInfo"><%= horse.rating %></td>
						<td class="raceInfo"><%= horse.result %></td>
						</tr>
					<% end %>
			
					<% if race.ratedHorse.length == 0 then %>
						<td class="raceInfo"></td>
						<td class="raceInfo"></td>
						<td class="raceInfo"></td>
					<% end %>
					
				</tr>
				<% idx += 1 %>
			<% end %>
			</table>
		</td>
			<% kIdx += 1 %>
		<% end %>
		</tr>
		</table>
	</td>
	</tr>
	<tr>
	<td>
		<table>
		<thead>
			<tr><th>推奨度</th><th>頭数</th><th>勝率</th><th>複勝率</th></tr>
		</thead>
		<tr>
			<td class="raceInfo">A</td>	
			<td class="raceInfo"><%= @ratedACount2 %></td>
			<td class="raceInfo">
				<% if @ratedAWinCount2 == 0 then %>
				0
				<% else %>
					<%= ((@ratedAWinCount2.to_f/@ratedACount2) * 100).round(1) %>
				<% end %>
			％</td>
			<td class="raceInfo">
				<% if @ratedAFukuCount2 == 0 then %>
				0
				<% else %>
					<%= ((@ratedAFukuCount2.to_f/@ratedACount2) * 100).round(1) %>
				<% end %>
			％</td>
		</tr>
		<tr>
			<td class="raceInfo">A/B</td>
			<td class="raceInfo"><%= @ratedBCount2 %></td>
			<td class="raceInfo">
				<% if @ratedBWinCount2 == 0 then %>
				0
				<% else %>
					<%= ((@ratedBWinCount2.to_f/@ratedBCount2) * 100).round(1) %>
				<% end %>
			％</td>
			<td class="raceInfo">
				<% if @ratedBFukuCount2 == 0 then %>
				0
				<% else %>
					<%= ((@ratedBFukuCount2.to_f/@ratedBCount2) * 100).round(1) %>
				<% end %>
			％</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
</td>
</tr>
</table>

</body>
</html>