<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=shift_jis">
<style type="text/css">
    table  {border-style: solid;
            border-collapse:collapse;
            border-width:thin
            }
    tr {border-style: solid;
        border-width:thin
        }
    td {border-style: solid;
        border-width:thin
        }
	thead th {font-weight: bold;
	    color: #fff;
	    background: #2E8B57;
	    border-style: solid;
	    border-width:thin;
	    border-color:black
	}
</style>
</head>
<body>
<h1 style="color:#2E8B57">
<%= @race.raceName %>
<%= @race.course %>
<%= @race.className %>
</h1>
<table>
<thead>
<tr>
<th rowspan="2">枠番</th>
<th rowspan="2">馬番</th>
<th rowspan="2">馬名</th>
<th rowspan="2">性齢</th>
<th rowspan="2">負担重量</th>
<th rowspan="2">騎手</th>
<th rowspan="2">分析項目</th>
<th colspan="4">過去4走</th>
<th rowspan="2">指数</th>
<th rowspan="2">オッズ</th>	
<th rowspan="2">人気</th>	
<th rowspan="2">推奨度</th>
</tr>
<tr>
<th>1走前</th>
<th>2走前</th>
<th>3走前</th>
<th>4走前</th>
</tr>
<thead>
<tbody>

<% @race.horses.each do |horse| %>

<tr>
<td rowspan="5"><%= horse.wakuban %></td>
<td rowspan="5"><%= horse.umaban %></td>
<td rowspan="5"><%= horse.bamei %></td>
<td rowspan="5"><%= horse.sex %><%= horse.barei %></td>
<td rowspan="5"><%= horse.juryo %></td>
<td rowspan="5"><%= horse.kishu %></td>
</tr>

<tr>
<td>着順</td>
<% horse.pastRaces.each do |pastRace| %>
<td><%= pastRace.order %></td>
<% end %>
<td rowspan="4"><%= horse.score %></td>
<td rowspan="4"><%= horse.odds %></td>
<td rowspan="4"><%= horse.ninki %></td>
<td rowspan="4"><%= horse.rating %></td>
</tr>

<tr>
<td>タイム差</td>
<% horse.pastRaces.each do |pastRace| %>
<td><%= pastRace.time_dif %></td>
<% end %>
</tr>
<tr>
<td>負担重量</td>
<% horse.pastRaces.each do |pastRace| %>
<td><%= pastRace.juryo %></td>
<% end %>
</tr>
<tr>
<td>コース・距離</td>
<% horse.pastRaces.each do |pastRace| %>
<td><%= pastRace.keibajo %><%= pastRace.course %></td>
<% end %>
</tr>

<% end %>

</tbody>
</table>

<% if @race.classCode == -1 || @race.classCode == 1 then %>
<p>障害レース／新馬戦は指数を算出できません。</p>
<% end %>


</body>
</html>
